@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Jost:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body{
  background-color: #695e561f;;
}

