.container{
    width: 1200px;
    margin: 0px auto;
    background-color: #fff;
    padding: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.container h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.estatuto h2, .estatuto h3, .estatuto h4{
    text-align: center;
    font-size: 20px;
}

.estatuto h2{ 
    margin-top: 60px;
}

.estatuto ul{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.estatuto p{
    margin-bottom: 20px;
    margin-top: 20px;
}

.estatuto {
    text-align: justify;
    padding: 40px;
    background-color: #eeeceab7;;
    max-height: 360px;  
    overflow-y: auto;
    border-radius: 8px;
}

.container p{
    font-size: 18px;
    margin: 40px;
    color: #2f2a27;
    font-style: italic;
}

.container a{
    text-decoration: none;
    background-color: #ff8c00;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0px auto;
}

.container a:hover{
    background-color: #e67600;
    transition: 0.3s;
}