.container{
    background-color: #f58220;
    color: #fff;
    width: 1200px;
    margin: 0px auto;
    padding: 60px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.278);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.imagens{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.imagens img{
    width: 320px;
    height: auto;
    filter: brightness(0) invert(1);
}

.imagens img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}